* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    background: crimson;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

/* Dashboard Layout */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    animation: fadeUp 0.8s ease;
}

/* Cards */
.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.card h2 {
    margin-bottom: 20px;
}

/* Inputs */
input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.primary-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #00d2ff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

/* Expense Item */
.expense-item {
    background: rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.expense-card {
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.amount {
    font-weight: bold;
}

/* Summary */
.summary {
    grid-column: span 2;
    text-align: center;
}

.summary h1 {
    font-size: 42px;
    margin-top: 10px;
}

/* Empty State */
.empty-text {
    text-align: center;
    opacity: 0.7;
}

.deleteBtn {
    width: fit-content;
    margin-top: 10px;
    background-color: crimson;
    color: white;
}

.editBtn {
    width: fit-content;
    background-color: green;
    color: white;
}



/* Animations */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .summary {
        grid-column: span 1;
    }

    .top-bar {
        flex-direction: column;
        gap: 10px;
    }
}